* {box-sizing:border-box}
body {
	margin:0;
	padding:0;
	background-image: url('https://livani-react.envytheme.com/_next/static/images/offer-bg-1e6fdd9df0e90590156f83a91518c62d.jpg');
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size:cover;
  	overflow-x: hidden;
}
.product-list {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap:30px;
	padding:50px 200px;
}
.owl-item {
	width:320px !important;
}
.product-list .item {
	cursor:pointer;
	position:relative;
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:space-between;
	height:500px;
}
.product-list .item img{
	align-self: center;
	
	width:100%;
	height:80%;
}
.product-list .item .txt-frame {
	height:100px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	padding-left:20px;
}
.product-list .item .txt-frame h2 {
	line-height:10px;
	margin:0px;
	padding:0px;
	margin-bottom:15px;
}
.product-list .item:hover .img-hover {
	opacity:1;
}
.product-list .item .img-hover{
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	transition:all .3s;
}
.product-list .item .container-price p {
	line-height:0;
}
.product-list .item .container-price {
		margin-top:20px;
	display:flex;
	flex-direction: row;
	align-items:center;
	justify-content:space-between;
	font-size:18px;
	font-weight:600;
}
.price {
	display:flex;
	flex-direction: row;
}
.product-list .item .container-price .five-stars {
	color:#F4FA58;
}
.product-list .item .container-price .old {
	margin-right:20px;
	color: #D8D8D8;
	text-decoration: line-through;
}
/* Slideshow container */
.slideshow-container {
  width:100%;
  margin-top:80px !important;
  margin-bottom:0;
  background-color:white;
  position: relative;
}
.offer-area {
	height:600px;
	display:flex;
	align-items: center;
}
.offer-area .offer {
	border-radius:10px;
	border:1px solid white;
	width:35%;
	height:60%;
	margin-left:70px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}
.offer-area .offer .offer-inside {
	background-color:white;
	border: 1px solid white;
	padding:70px 0px;
	width:95%;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	
}
.offer-area .offer h1{
	font-size: 45px;
	line-height:70px;
	margin:0;
	padding:0;
	text-transform: uppercase;
}
.offer-area .offer .btn-pink {
	margin-top:30px;
}
.offer-area .offer .title-cur {
	font-size:20px;
	color:#BDBDBD;
	text-transform: capitalize;
}
.dot-container {
	position:absolute;
	bottom:20px;
	left:50%;
	transform:translateX(-50%);
}

/* Hide the images by default */

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.mySlides {
	position: relative;
}
.mySlides .text {
	position:absolute;
	color: black;
	top:50%;
	left:50%;
	width:390px;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	height:200px;
	transform:translate(-50%, -50%);
}
.mySlides .text h4 {
	font-weight:600;
	font-size:25px;
	line-height:0px;
}
.mySlides .text h2 {
	font-weight:600;
	font-size:55px;
	line-height:0px;
}
.mySlides .text p {
	font-size:20px;
	line-height:0px;
}
.mySlides .text .btn-container {
	display:flex;
	flex-direction:row;
	
}

.btn-pink {
	background-color: #f53f85;
	border: 1px solid #f53f85;
	color:white;
	font-size:15px;
	padding: 13px 20px;
	font-weight:bold;
	margin-right:10px;
	text-transform:uppercase;
	
}
.mySlides .text .btn-container .btn-gray {
	background-color: transparent;
	border: 1px solid black;
	padding: 13px 20px;
	font-weight:600;
	font-size:15px;
	text-transform:uppercase;
	transition: all .5s;
}
.home-container .banner-container {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 30px;
	padding:70px 50px;
	background-color: white;	
}
.home-container .banner-container .item {
	position:relative;
	font-weight:600;
	cursor:pointer;
	background-color:white;
}
.home-container .banner-container .item img{
	width:100%;	
}
.home-container .banner-container .item:hover .txt-frame {
	transform: translateY(-50px)
}
.home-container .banner-container .item .txt-frame {
	bottom:20px;
	right:20px;
	position:absolute;
	color:white;
	transition: all .5s;
}
.recent {
	background-color:white;
	margin: 0;
	padding:0;
}
.title-part {
	color:#f53f85;
	text-align:center;
	font-weight:600;
}
.recent p {
	margin:0;
}
.offer p{
	margin:0;
}
.owl-container {
	background-color:white;
	padding:80px;
	
}
.owl-container .item {
	background-color:white !important;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content: center;
	cursor:pointer;
	
}
.owl-container .active {
	background-color:white !important;
	
}
.owl-container .item:hover .container-icon {
	background-color:#f53f85;
	color:white;
}
.popular-products {
	padding-top:100px;
}
.home-container .overlay{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1000000000000;	
	background-color: rgba(8,8,8,.8);
	visibility:hidden;
	opacity:0;
	transition:all .3s;
}
.footer .instagram-container {
	width:100vw;
	overflow:hidden;
	display: flex;
	flex-direction:row;
	
}
.footer {
	padding:0;
	margin:0;
	background-color:black;
	
}
.footer .instagram-container {
	margin:0;
	padding:0;
}
.footer .instagram-container .item {
	position:relative;
	
}
.footer .instagram-container .item img{
	max-width:240px;
}
.footer .instagram-container .item:hover i {
	opacity:1;
	transform:translate(-50%,-50%);
}
.footer .instagram-container .item i {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, 30%);
	opacity:0;
	transition:all .3s;
	cursor:pointer;
	font-size:40px;
	color:white;
	
}

.owl-container .item h2 {
	background-color:white;
	transform:translateY(-30px);
	padding:20px 0px;
}
.owl-container .item .container-icon{
	transition:all .3s;
	width:150px;
	height:150px;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:40px;
	
	border-radius:50%;
	background-color:#F2F2F2;
	
}
.owl-carousel {
	margin:0;
}
.owl-dots {
	display:none;
}
.recent h1 {
	text-align:center;
}
.home-container .banner-container .item:hover  .btn-pink {
	opacity:1;
	transform:translateY(0)
}
.home-container .banner-container .item  .btn-pink {
	position:absolute;
	z-index:1000;
	bottom: 20px;
	right:10px;
	transform: translateY(30px);
	opacity:0;
	transition: all .5s;
	
}
.home-container .banner-container .item-2 .txt-frame span{
	color:#f53f85 !important;
	
}
.home-container .banner-container .item-3 .txt-frame span{
	color:#f53f85 !important;
	
}
.home-container .banner-container .item-3 .txt-frame {
	color:black;
}
.home-container .banner-container .item .txt-frame h2{
	line-height:5px;
	font-weight:600;
}
.mySlides .text .btn-container .btn-gray:hover {
	background-color: #f53f85;
	border: 1px solid #f53f85;
	color:white;
}
.mySlides .text-2 {
	left:250px !important;
}
.mySlides .text-3 {
	width:800px !important;
	
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.4);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}